doctype html
html
	head
		title RV Site
		link(rel='stylesheet', href='#{staticRoot}/css/main.css')
	body
		header
			img(src='#{staticRoot}/img/logo.svg')
			h1 Rybalka Vano Site
		aside
			nav
				a(href = '#{root}/') Обо мне
				a(href = '#{root}/projects.html') Проекты
				a(href = '#{root}/contacts.html') Контакты
		article
			block main
		footer
			p 2016 &copy; Rybalka Vano